<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Logs</title>
</head>
<body>
    <h1>Create a New Log</h1>
    <form action='/logs' method ='POST'>
    Title:<input type ='text' name ='title'/>
    Entry: <input type ='textarea' name = 'entry'/>
    Ship is Broken: <input type ='checkbox' name = 'shipIsBroken'/>
    <input type ='submit' name ='' value = 'Add Log'/><br>
    </form>
</body>
</html>